.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.bloc-products{
    background-color: #f3e9f1;
    border-radius: 25px;
    padding: 4%;
    min-width: 100px;
    min-height: 300px;
}

.bloc-products a{
    text-decoration: none;
}

.bloc-products img{
    width: 100%;
    height: 80%;
    border-radius: 25px;
    object-fit: cover;
}

.text-products {
    color: black;
    font-size: 1em;
    display: flex;
}

.price{
    margin-left: 65%;
}

.details{
    background: #8f5bfe;
    border-style: none;
    padding: 2%;
    border-radius: 10px;
    color: white;
}

.details:hover{
    background: #d4803c;
    color: white;
    transition: 0.5s;
}