body{
	font-family: 'arial',sans-serif;
}

header{
	display: flex;
	align-items: center;
	justify-content: space-between;
    background-color:#f3e9f1;
    padding: 30px;
}

.logo{
	height: 100px;
    margin-left: 50px;
}

nav a{
	color: black;
    margin-right: 50px;
    text-decoration: none;
}

.home:hover{
    color: #d4803c;
    transition: 0.2s;
}

.shopping:hover{
    color: #8f5bfe;
    transition: 0.2s;
}

footer{
    padding: 30px;
    margin-top: 5%;
    background-color:#f3e9f1;
}
footer ul{
    margin-left: 42%;
    padding: 0;
}

footer li{
    display: inline-block;
    list-style: none;
    text-align: center;
}

.reseaux{
    margin-left: 45%;
}

.reseaux i{
    margin: 0 1% 0 1%;
}

.fa-facebook{
    color: #d4803c;
}

.fa-instagram{
    color: #b16e9e;
}

.fa-pinterest{
    color: #8f5bfe;
}

/* HOME PAGE */

h1{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.products{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.bloc-products{
    background-color: #f3e9f1;
    border-radius: 25px;
    padding: 4%;
    min-width: 100px;
    min-height: 300px;
}

.bloc-products a{
    text-decoration: none;
}

.bloc-products img{
    width: 100%;
    height: 80%;
    border-radius: 25px;
    object-fit: cover;
}

.text-products {
    color: black;
    font-size: 1em;
    display: flex;
}

.price{
    margin-left: 65%;
}

.details{
    background: #8f5bfe;
    border-style: none;
    padding: 2%;
    border-radius: 10px;
    color: white;
}

.details:hover{
    background: #d4803c;
    color: white;
    transition: 0.5s;
}

/* PRODUCT PAGE */

.page-product{
    margin-top: 7%;
}

.product{
    margin-left: 15%;
    display: flex;
    text-align:left;
}

.img-product{
    width: 30%;
    padding: 2%;
    border-radius: 25px;
    background-color:  #f3e9f1;
    object-fit: cover;
}

.details-product{
    margin-left: 2%;
    max-width: 500px;
    max-height: 400px;
}

.add button{
    background: #d4803c;
    border-style: none;
    padding: 2%;
    border-radius: 10px;
    color: white;
}

.add :hover{
    background: #8f5bfe;
    transition: 0.5s;
}

/* SHOPPING PAGE */

.page-shopping{
    margin-top: 2%;
}

.shop-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    height: 200px;
    padding: 2%;
    background-color:#f3e9f1;
    margin: auto;
    border-bottom: black solid 2px;
}

.img-product-added{
    width: 20%;
    border-radius: 25px;
}

.delete-product{
    background-color: rgb(226, 38, 38);
    border-style: none;
    padding: 12%;
    border-radius: 25px;
}

.final-order-price{
    margin-left: 20%;
    margin-top: 3%;
}

.continue-shopping{
    background: #f3e9f1;
    border-style: none;
    padding: 1%;
    border-radius: 10px;
    color: black;
    margin-left: 20%;
    margin-top: 2%;
    width: 1070px;
}

.continue-shopping:hover{
    background: #8f5bfe;
    color: white;
    transition: 0.5s;
}

.form{
    margin-left: 20%;
    margin-top: 2%;
}

.name-form{
    margin-bottom: 2%;
}

.form input{ 
    color: rgba(128, 128, 128, 0.479);
    width: 980px;
    height: 30px;
    border: #8f5bfe solid 1px;
    border-radius: 5px;
}

.adress-form{
    margin-bottom: 2%;
}

.pay{
    background: #f3e9f1;
    border-style: none;
    padding: 1%;
    border-radius: 10px;
    color: black;
    margin-left: 20%;
    margin-top: 2%;
    width: 1070px;
}

.pay:hover{
    background: #8f5bfe;
    color: white;
    transition: 0.5s;
}

/* ORDER THANKS PAGE */

.order-thanks-page{
    margin: 8% 0 8% 0;
}

.order-thanks{
    text-align: center;
    font-weight: 200;
}

.order-number{
    text-align: center;
    margin-top: 3%;
    font-size: 20px;
    font-weight: 700;
}

.return{
    background: #f3e9f1;
    border-style: none;
    padding: 1%;
    border-radius: 10px;
    color: black;
    width: 600px;
    margin-left: 33%;
    margin-top: 3%;
}

.return:hover{
    background: #8f5bfe;
    color: white;
    transition: 0.5s;
}