body{
	font-family: 'arial',sans-serif;
}

header{
	display: flex;
	align-items: center;
	justify-content: space-between;
    background-color:#f3e9f1;
    padding: 30px;
}

.logo{
	height: 100px;
    margin-left: 5%;
}

nav a{
	color: black;
    text-decoration: none;
}

nav ul{
    padding: 0;
    position: absolute;
    right: 6%;
}

nav ul a i{
    margin-right: 8px;
}

.home:hover{
    color: #d4803c;
    transition: 0.2s;
}

.shopping:hover{
    color: #8f5bfe;
    transition: 0.2s;
}

footer{
    padding: 30px;
    margin-top: 3%;
    background-color:#f3e9f1;
}

.footer-li{
    text-align: center;
}

footer ul{
    padding: 0;
}

.reseaux{
  margin-left: 45%;
}

.reseaux i{
    margin: 0 1% 0 1%;
}

.fa-facebook{
    color: #d4803c;
}

.fa-instagram{
    color: #b16e9e;
}

.fa-pinterest{
    color: #8f5bfe;
}

/* ----------- HOME PAGE ----------- */

h1{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.cardProduct{
    background-color: #f3e9f1;
    border-radius: 25px;
    padding: 1%;
    width: 400px;
    height: 450px;
    margin-left: 7%;
    margin-bottom: 2%;
    display: inline-block;
}

#imgProduct{
    width: 100%;
    height: 70%;
    border-radius: 25px;
    object-fit: cover;
}

#nameProduct{
    font-size: 20px;
    font-weight: 900;
}

.cardProduct a{
    text-decoration: none;
    color: black;
}

.btnProduct{
    background: #8f5bfe;
    border-style: none;
    padding: 2%;
    border-radius: 10px;
    color: white;
}

.btnProduct:hover{
    background: #d4803c;
    color: white;
    transition: 0.5s;
}


/* ----------- PRODUCT PAGE ----------- */

#imgPageProduct{
    width: 30%;
    padding: 2%;
    border-radius: 25px;
    margin: 0 33% 0 33%;
    background-color:  #f3e9f1;
    object-fit: cover;
}

#namePageProduct{
    text-align: center;
    font-size: 35px;
    font-weight: 800;  
    background:  #f3e9f1;
    padding: 0.5%;
}

#descriptionPageProduct{
    text-align: center;
    width: 34%;
    margin: 0 33% 0 33%;
    margin-top: 2%;
}

#selectLenses{
    padding: 0.8%;
    border-radius: 10px;
    margin: 0 45% 1.5% 45%;
    border: solid 0.1px;
}

#pricePageProduct{
    text-align: center;
    font-weight: 600; 
    margin-top: 1%;
    font-size: 20px;
}

.addProduct{
    background:#8f5bfe;
    border-style: none;
    padding: 1%;
    border-radius: 10px;
    color: white;
    width: 20%;
    margin: 0 40% 0 40%;
}

.addProduct:hover{
    background: #d4803c;
    transition: 0.5s;
}

/* ----------- SHOPPING PAGE ----------- */


#shopProduct{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    height: 200px;
    padding: 2%;
    background-color:#f3e9f1;
    margin: auto;
    border-bottom: black solid 2px;
}

#imgProductAdded{
    width: 20%;
    border-radius: 25px;
}

#deleteProduct{
    background-color: rgb(226, 38, 38);
    border-style: none;
    padding: 12%;
    border-radius: 25px;
}

#finalOrderPrice{
    margin-left: 20%;
    margin-top: 3%;
}

#continueShopping{
    background: #f3e9f1;
    border-style: none;
    padding: 1%;
    border-radius: 10px;
    color: black;
    margin-left: 20%;
    margin-top: 2%;
    width: 1070px;
}

#continueShopping:hover{
    background: #8f5bfe;
    color: white;
    transition: 0.5s;
}

.form{
    margin-left: 20%;
    margin-top: 2%;
}

.name-form{
    margin-bottom: 2%;
}

.form input{ 
    color: rgba(128, 128, 128, 0.479);
    width: 980px;
    height: 30px;
    border: #8f5bfe solid 1px;
    border-radius: 5px;
}

.adress-form{
    margin-bottom: 2%;
}

.pay{
    background: #f3e9f1;
    border-style: none;
    padding: 1%;
    border-radius: 10px;
    color: black;
    margin-left: 20%;
    margin-top: 2%;
    width: 1070px;
}

.pay:hover{
    background: #8f5bfe;
    color: white;
    transition: 0.5s;
}

/* ----------- ORDER THANKS PAGE ----------- */

.order-thanks-page{
    margin: 8% 0 8% 0;
}

.order-thanks{
    text-align: center;
    font-weight: 200;
}

.order-number{
    text-align: center;
    margin-top: 3%;
    font-size: 20px;
    font-weight: 700;
}

.order-price{
    text-align: center;
    margin-top: 3%;
    font-size: 20px;
    font-weight: 700;
}

.return{
    background: #f3e9f1;
    border-style: none;
    padding: 1%;
    border-radius: 10px;
    color: black;
    width: 600px;
    margin-left: 33%;
    margin-top: 3%;
}

.return:hover{
    background: #8f5bfe;
    color: white;
    transition: 0.5s;
}

/* ----------- VERSION TABLETTE ----------- */

@media all and (max-width: 1280px) and (min-width: 640px) {


    .cardProduct{
        background-color: #f3e9f1;
        border-radius: 25px;
        padding: 2%;
        width: 400px;
        height: 450px;
        margin-right: 2%;
        margin-bottom: 2%;
        display: inline-block;
    }

    footer{
        margin-top: 8%;
    }
}

/* ----------- VERSION MOBILE ----------- */

@media all and (max-width: 640px) and (min-width: 100px) {

    #main{
        margin-left: 0;
    }

    h1{
        margin-left: 0;
        margin-top: 4%;
        margin-bottom: 4%;
        text-align: center;
    }

    .cardProduct{
        background-color: #f3e9f1;
        border-radius: 25px;
        padding: 3%;
        width: 400px;
        height: 450px;
        min-width: 200px;
        min-height: 250px;
        display: inline-block;
        margin : 0 0 4% 13%;
    }

    footer{
        margin-top: 5%;
    }
}

